* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.profile-img {
    width: 120px;
    border-radius: 50%;
    border: 1px solid #585555;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    margin: 54px 0px 0px 28%;
}


.left-sidebar {
    display: inline-block;
    width: 12%;
    height: 100vh;
    background: linear-gradient(#eff6ff , #b4ceff);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.imagens {
    display: inline-block;
    width: 87%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(90deg, rgba(119, 136, 153, 0.3) 40%, rgb(137, 150, 163, 0.5) 60%);
}

.figcaption-profile {
    position: absolute;
    top: 203px;
    left: 4%;
}

div a {
    text-decoration: none;
    color: #1a1919;
}

div a:hover {
    color: #FFFFFF;
    transform: scale(1.3);
    transition: 1s ease;
}

.list-collection{
    display: inline-grid;
    line-height: 47px;
    width: auto;
    height: auto;
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 65px;
}


#container {
    display: inline-block;
    width: 87%;
    height: 100vh;
    position: absolute;
    background: linear-gradient(90deg, rgba(119, 136, 153, 0.3) 40%, rgb(137, 150, 163, 0.5) 60%);
}

section table caption {
    width: 100%;
    text-align: center;
    font-size: 35px;
    margin-bottom: 5px;
}

section table td {
    background: #FFFFFF;
    border: 1px solid black;
}

.col{
    padding: 10px 40px;
    min-width: 300px;
    max-width: 300px;
}

.card img{
    width: 100%;
    display: block;
}




